*{
    margin: 0px;
    padding: 0px;
}

body{
font-size: 13px;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
margin: 0px;
padding: 0px;
}

.nav-header {
display: grid;
grid-auto-flow: column;
justify-content: right;
align-items: center;
gap: 15px;
margin: 16px 30px 0px;
}

a{
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    border: none;
}


.init-search{
    background: whitesmoke;
    border: rgb(158, 158, 158);
    color: rgb(0,0,0);
    border-radius: 5px;
    width: 150px;
    height: 35px;
    margin: 11px 4px;
}

.init-search:hover {
    background: rgba(241, 240, 240, 0.945);
}

.init_session:hover {
    background: rgba(241, 240, 240, 0.945);
}

.main {
    display: grid;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 106px;
    font-size: 100px;
    width: 850px;
    height: 40px;
}

.input_search{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.search {
    display: grid;
    grid-template-columns: 52px 480px 52px;
    grid-template-rows: 46px;
    grid-template-areas: "lupa input micro";
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
    position: relative;
}

.clearfix{
    clear: both;
}

footer{
    background: whitesmoke;
    color: rgb(158, 158, 158);
    text-align: center;
    bottom: 0;
    position: absolute;
    line-height: 50px;
    float: none;
    width: 100%;
}

#container{
    background: whitesmoke;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid rgb(218, 218, 218);
    width: 100% !important;
}

nav.nav-footer a{
    color: rgb(158,158,158);
    width: 100% !important;
}

nav.nav-footer{
    width: 100% !important;
    position: fixed;
}

nav.nav-footer:hover{
    text-decoration: underline;
}

.input_style{
    border-radius: 30px;
    border-width: 1px;
    height: 40px;
}

.init_session{
    height: 25px;
    border-width: 0px;
    width: 70px;
    border-radius: 5px;
    background-color: whitesmoke;
}

.search-buttons{
    text-align: center;
}
